input {
	width: 50px;
}

#content {
	width: 95%;
	max-width: 1400px;
}

#second {
	display: none;
}


/* Slots */

.slots {
	fill: white;
	stroke-width: 1;
	stroke: black;
}


/* AI */

.aiText {
	fill: white;
	text-anchor: middle;
	font-size: 20px;
}
